In [1]:
import pandas as pd
school_datapath = "Resources/schools_complete.csv"
student_datapath= "Resources/students_complete.csv"

school_data = pd.read_csv(school_datapath)
student_data = pd.read_csv(student_datapath)

complete_school_data = pd.merge(student_data,school_data, how="left", on = ["school_name"])

In [2]:
#District Summary

#Setting up dictionary to make into a dataframe
series_names = {}
#Setting up dataframe with students who passed both math and reading
passingboth_df = complete_school_data.loc[(complete_school_data["math_score"] >= 70) & (complete_school_data["reading_score"] >=  70), :]

    
#Total Number of Schools calculation
series_names["Total Schools"] = len(complete_school_data["school_name"].unique())
#Total Number of Students calculation
series_names["Total Students"] = "{:,.0f}".format(complete_school_data["Student ID"].count())
#Total Budget calculation w/ 2 decimal formatting
series_names["Total Budget"] = "${:,.2f}".format(school_data["budget"].sum())
#Average Math Score calculation w/ percent formatting
series_names["Average Math Score"] = "{:,.2f}%".format(complete_school_data["math_score"].mean())
#Average Reading Score calculation w/ percent formatting
series_names["Average Reading Score"] = "{:,.2f}%".format(complete_school_data["reading_score"].mean())
#Percentage of students passing math
passing_math = (complete_school_data["math_score"] >= 70).value_counts()
series_names["% Passing Math"] = "{:,.2f}%".format(passing_math[True] * 100/ (passing_math[True] + passing_math[False]))
#Percentage of students passing reading
passing_reading = (complete_school_data["reading_score"] >= 70).value_counts()
series_names["% Passing Reading"] = "{:,.2f}%".format(passing_reading[True] * 100/ (passing_reading[True] + passing_reading[False]))
#Overall % of students passing
series_names["% Overall Passing"] = "{:,.2f}%".format(len(passingboth_df)*100/((passing_math[True] + passing_math[False])))
#Dictionary to dataframe conversion
series_names_df = pd.DataFrame(series_names, index = [0])
series_names_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [3]:
#School District Summary
# Formatting for later  ["${:,.2f}".format(number) for number in df(replace with dataframe series name)]
school_names = complete_school_data["school_name"].unique()
school_math_averages = {}
school_reading_averages = {}
school_passing_math = {}
school_passing_reading = {}
school_passing_overall = {}
school_summary_df = pd.DataFrame(index = school_names)
school_summary_df["School Type"] = school_data["type"].tolist()
school_summary_df["Total Students"] = school_data["size"].tolist()
budget = school_data["budget"].tolist()

school_summary_df["Per Student Budget"] = (school_data["budget"] / school_data["size"]).tolist()
for name in school_names:
   school_math_averages[name] = (student_data.loc[student_data["school_name"] == name, "math_score"]).mean()
for name in school_names:
   school_reading_averages[name] = (student_data.loc[student_data["school_name"] == name, "reading_score"]).mean()
school_summary_df["Average Math Score"] = school_math_averages.values()
school_summary_df["Average Reading Score"] = school_reading_averages.values()
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]
   school_passing = (school["math_score"] >= 70).value_counts()
   school_passing_math[name] = school_passing[True] * 100 / len(school)
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]
   school_passing = (school["reading_score"] >= 70).value_counts()
   school_passing_reading[name] = school_passing[True] * 100 / len(school)
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]
   school_passing = ((school["reading_score"] >= 70) & (school["math_score"] >= 70)).value_counts()
   school_passing_overall[name] = school_passing[True] * 100 / len(school)
school_summary_df["% Passing Math"] = school_passing_math.values()
school_summary_df["% Passing Reading"] = school_passing_reading.values()
school_summary_df["% Overall Passing"] = school_passing_overall.values()

school_summary_df

,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,District,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [4]:
#Top 5 schools

sorted_schools_df = school_summary_df.sort_values(by="% Overall Passing", ascending=False)
top5_df = sorted_schools_df.iloc[:5]
top5_df

,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [5]:
#Lowest Performing Schools
last5_df = sorted_schools_df[-5:]
last5_df

,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Johnson High School,District,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [6]:
#Math Scores by Grade
average_math_grades = {}
average_reading_grades = {}
grades = student_data["grade"].unique()
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]