In [82]:
import pandas as pd
school_datapath = "Resources/schools_complete.csv"
student_datapath= "Resources/students_complete.csv"

school_data = pd.read_csv(school_datapath)
student_data = pd.read_csv(student_datapath)

complete_school_data = pd.merge(student_data,school_data, how="left", on = ["school_name"])

In [83]:
#District Summary

#Setting up dictionary to make into a dataframe
series_names = {}
#Setting up dataframe with students who passed both math and reading
passingboth_df = complete_school_data.loc[(complete_school_data["math_score"] >= 70) & (complete_school_data["reading_score"] >=  70), :]

    
#Total Number of Schools calculation
series_names["Total Schools"] = len(complete_school_data["school_name"].unique())
#Total Number of Students calculation
series_names["Total Students"] = "{:,.0f}".format(complete_school_data["Student ID"].count())
#Total Budget calculation w/ 2 decimal formatting
series_names["Total Budget"] = "${:,.2f}".format(school_data["budget"].sum())
#Average Math Score calculation w/ percent formatting
series_names["Average Math Score"] = "{:,.2f}%".format(complete_school_data["math_score"].mean())
#Average Reading Score calculation w/ percent formatting
series_names["Average Reading Score"] = "{:,.2f}%".format(complete_school_data["reading_score"].mean())
#Percentage of students passing math
passing_math = (complete_school_data["math_score"] >= 70).value_counts()
series_names["% Passing Math"] = "{:,.2f}%".format(passing_math[True] * 100/ (passing_math[True] + passing_math[False]))
#Percentage of students passing reading
passing_reading = (complete_school_data["reading_score"] >= 70).value_counts()
series_names["% Passing Reading"] = "{:,.2f}%".format(passing_reading[True] * 100/ (passing_reading[True] + passing_reading[False]))
#Overall % of students passing
series_names["% Overall Passing"] = "{:,.2f}%".format(len(passingboth_df)*100/((passing_math[True] + passing_math[False])))
#Dictionary to dataframe conversion
series_names_df = pd.DataFrame(series_names, index = [0])
series_names_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [122]:
#School District Summary
# Formatting for later  ["${:,.2f}".format(number) for number in df(replace with dataframe series name)]
school_names = complete_school_data["school_name"].unique()
school_math_averages = {}
school_reading_averages = {}
school_passing_math = {}
school_passing_reading = {}
school_passing_overall = {}
school_summary_df = pd.DataFrame(index = school_names)
school_summary_df["School Type"] = school_data["type"].tolist()
school_summary_df["Total Students"] = school_data["size"].tolist()
school_summary_df["Total Budget"] = ["${:,.2f}".format(number) for number in school_data["budget"].tolist()]
budget = school_data["budget"].tolist()

school_summary_df["Per Student Budget"] = (school_data["budget"] / school_data["size"]).tolist()

for name in school_names:
   school_math_averages[name] = (student_data.loc[student_data["school_name"] == name, "math_score"]).mean()

for name in school_names:
   school_reading_averages[name] = (student_data.loc[student_data["school_name"] == name, "reading_score"]).mean()
school_summary_df["Average Math Score"] = school_math_averages.values()
school_summary_df["Average Reading Score"] = school_reading_averages.values()
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]
   school_passing = (school["math_score"] >= 70).value_counts()
   school_passing_math[name] = school_passing[True] * 100 / len(school)
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]
   school_passing = (school["reading_score"] >= 70).value_counts()
   school_passing_reading[name] = school_passing[True] * 100 / len(school)
for name in school_names:
   school = student_data[["math_score","reading_score"]][student_data["school_name"] == name]
   school_passing = ((school["reading_score"] >= 70) & (school["math_score"] >= 70)).value_counts()
   school_passing_overall[name] = school_passing[True] * 100 / len(school)
school_summary_df["% Passing Math"] = school_passing_math.values()
school_summary_df["% Passing Reading"] = school_passing_reading.values()
school_summary_df["% Overall Passing"] = school_passing_overall.values()

school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [85]:
#Top 5 schools

sorted_schools_df = school_summary_df.sort_values(by="% Overall Passing", ascending=False)
top5_df = sorted_schools_df.iloc[:5]
top5_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [86]:
#Lowest Performing Schools
last5_df = sorted_schools_df[-5:]
last5_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [120]:
#Math Scores by Grade

school_grades = ["9th","10th","11th","12th"]

math_by_grade_df = pd.DataFrame(index = school_names)

for grade in school_grades:
    math_by_grade_df[grade] = (student_data[student_data["grade"] == grade]).groupby("school_name")["math_score"].mean()
math_by_grade_df

                             9th       10th       11th       12th
Huang High School      77.027251  75.908735  76.446602  77.225641
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Shelton High School    83.420755  82.917411  83.383495  83.778976
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Griffin High School    82.044010  84.229064  83.842105  83.356164
Wilson High School     83.085578  83.724422  83.195326  83.035794
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Bailey High School     77.083676  76.996772  77.515588  76.492218
Holden High School     83.787402  83.429825  85.000000  82.855422
Pena High School       83.625455  83.372000  84.328125  84.121547
Wright High School     83.264706  84.010288  83.836782  83.644986
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Johnson High School    77.187857  76.691117  77.491653  76.863248
Ford High School       77.361345  77.672316  76.918058  76.179963
Thomas High School     83.590022  83.087886  83.498795  83.497041

In [123]:
#Reading Scores by Grade
reading_by_grade_df = pd.DataFrame(index = school_names)

for grade in school_grades:
    reading_by_grade_df[grade] = (student_data[student_data["grade"] == grade]).groupby("school_name")["reading_score"].mean()
reading_by_grade_df

                             9th       10th       11th       12th
Huang High School      81.290284  81.512386  81.417476  80.305983
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Shelton High School    84.122642  83.441964  84.373786  82.781671
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Griffin High School    83.369193  83.706897  84.288089  84.013699
Wilson High School     83.939778  84.021452  83.764608  84.317673
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Bailey High School     81.303155  80.907183  80.945643  80.912451
Holden High School     83.677165  83.324561  83.815534  84.698795
Pena High School       83.807273  83.612000  84.335938  84.591160
Wright High School     83.833333  83.812757  84.156322  84.073171
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Johnson High School    81.260714  80.773431  80.616027  81.227564
Ford High School       80.632653  81.262712  80.403642  80.662338
Thomas High School     83.728850  84.254157  83.585542  83.831361

In [28]:
#Scores by School Spending
school_spending_df = school_summary_df[["Average Math Score", "Average Reading Score","Per Student Budget ", "% Passing Math","% Passing Reading", "% Overall Passing"]]
sorted_spending_df = school_spending_df.sort_values("% Overall Passing", ascending = False)
sorted_spending_df["$ Spent Per Student"] = pd.cut(school_summary_df["Per Student Budget"], 4, labels = ["<$597.50","$597.50-$616.50","$616.50-$635.75"," $635.75-$655"])
sorted_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,$ Spent Per Student
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,<$597.50
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,$635.75-$655
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,$616.50-$635.75
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,<$597.50
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,$597.50-$616.50
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,<$597.50
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,$597.50-$616.50
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,<$597.50
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,$616.50-$635.75
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,$635.75-$655
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,$635.75-$655
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,$635.75-$655
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,$635.75-$655
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,$635.75-$655
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,$635.75-$655

In [36]:
#School Performance by size
school_size_df = school_summary_df[["Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing"]]
sorted_size_df = school_size_df.sort_values("% Overall Passing", ascending = False)
sorted_size_df["School Size"] = pd.cut(school_summary_df["Total Students"], 3, labels = ["Small", "Medium", "Large"])
sorted_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,Small
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,Small
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,Small
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,Medium
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,Small
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,Small
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,Small
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,Small
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,Large
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,Medium
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,Large
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,Large
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,Medium
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,Medium
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,Large

In [128]:
#District Type
school_type_df = school_summary_df[["Average Math Score", "Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing"]]
sorted_type_df = school_type_df.sort_values("% Overall Passing", ascending = False)
school_type_map = {"District":0, "Charter":1}
school_type_temp = (school_summary_df["School Type"]).map(school_type_map)

sorted_type_df["School Size"] = pd.cut(school_type_temp, 2, labels = ["Charter","District"])
sorted_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,District
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,District
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,District
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,District
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,District
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,District
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,District
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,District
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,Charter
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,Charter
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,Charter
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,Charter
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,Charter
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,Charter
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,Charter